/Proyecto 1/Proyecto1/nbproject/private/
/Proyecto 1/Proyecto1/build/
/Proyecto 1/Proyecto1/dist/
/Proyecto 1/Actividad_6/nbproject/private/
/Proyecto 1/Actividad_6/build/
/Proyecto 1/Actividad_6/dist/
/Proyecto 1/Actividad7/nbproject/private/
/Proyecto 1/Actividad8/nbproject/private/
